<div class="home-container">
    <div class="img-container">
            <img src="../../assets/shopping.png" width="50" height="100" alt="Shopping Image">
            <div class="subcontainer">
            <p>Discover the future in your hands at Shopwise!! Dive into the world of tech wonders with our extensive collection of smartphones and cameras. 
                Elevate your tech game with the best in mobiles,cameras,speakers, right at your fingertips!</p>
            <button class="exclusive-button" (click)="onClick()">Exclusive Products</button>           
        </div>
    </div>  
</div>