<header>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top ">
    <div class="container">
      <a class="navbar-brand fs-2 fw-bold nav-link "><i class="fa fa-cart-shopping fs-2" style="color: #f54242;"></i>
        <span class="textBlur " routerLink="/home">Shopwise</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <!--Toggle  -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">
          <li class="nav-item dropdown">
            <a class="nav-link  fw-semibold text-uppercase  me-1 text-danger fw-bold" routerLink="/home"
              id="navbarDropdown" role="button" aria-expanded="false">
              home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 fw-bold" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let category of categories">
                <a class="dropdown-item" (click)="navigate(category)">{{ category }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link toggle fw-semibold text-uppercase text-black  me-1 fw-bold" routerLink="/contact-us"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CONTACT US
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa-solid fs-magnifying-glass fs-5" style="color: #202122;"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <div class="cart-button">
              <a class="nav-link" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <p class="fw-bold" routerLink="/cart">CART</p>
              </a>
              <span class="badge rounded-pill bg-danger" *ngIf="cartProducts.length > 0">
                {{cartProducts.length}}
              </span>
            </div>
          </li>
          <div *ngIf="isLoggedIn" class="username-container">
            <span>
              <p >
                
              </p></span>
          </div>
          <li class="nav-item dropdown">
            <button *ngIf="!isLoggedIn" type="button" class="btn btn-primary" (click)="toggleLogin()">Login</button>
            <!-- <button *ngIf="isLoggedIn" type="button" class="btn btn-primary" (click)="toggleLogin()">Logout</button> -->
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn">
            <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 fw-bold" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{username}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" (click)="toggleLogin()">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>